* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
    border: 1px solid lightgrey;
    padding: 10px; 
    margin: 10px;
}

h1 {
    text-align: center;
    
}
h1, h2 {
    padding: 20px 10px;
}

h3 {
    padding: 10px;
}

section {
    width: 50%;
}

main {
    display: flex;
}

.party p {
    padding: 0 10px;
}

#party-date {
    padding-top: 10px;
}

#party-location {
    padding-bottom: 10px;
}

.highlighted {
    font-style: italic;
    font-weight: bold;
    background-color: aqua;
}

form {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#delete {
    padding: 5px 20px;
    margin: 10px;

}


form input{
    margin-bottom: 5px;
}

form input:last-of-type{
    margin-top: 10px;
}

